* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #efefef;
  font-family: "Fredoka", sans-serif;
}

.fun-fact-box {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.congrats-message {
  font-weight: bold;
  margin-bottom: 5px;
}

.x-won {
  color: rgb(255, 70, 37);
}

.o-won {
  color: rgb(44, 135, 255);
}
